
<body class="bg">
    <div class="Head">
        <h1 style="color:rgb(27, 19, 151);">
          <img src="/assets/RailwayS1.jpg" height ="150px" width ="180px" align="right">
          <img src="/assets/RailwayS.jpg" height ="150px" width ="180px" align="left">

            <br>WELCOME TO PAKISTAN<br><br> ONLINE RAILWAY RESERVATION SYSTEM<br>
         </h1>
        <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(18, 27, 147); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
                WELCOME TO PAKISTAN RAILWAYS  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
            </marquee>
            
        <div class="buttons">
        
        <ul>
            <li><a class="ahome" routerLink="/home"><h2><b>HOME</b></h2></a></li>
            <br>
            <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
            <br>
            <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
            <br>
            <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
            <br>
            <li><a routerLink='/searchtrains'>TRAIN-SCHEDULE</a></li>
        </ul>
            
     <div class="container" style="margin-left: 200px; margin-top: -525px;">
       <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card border-0 shadow rounded-3 my-5">
             <div class="card-body p-4 p-sm-5">
               <h5 class="card-title text-center mb-5 fw-light fs-5">USER LOG-IN</h5>
               
               <form [formGroup]="adminlog" (ngSubmit)="validate()">
                 <div class="form-floating mb-3">
                   <input type="text" class="form-control" id="floatingInput"  formControlName="username">
                   <label for="floatingInput">User Name</label>
                   <span style="color: red;" class="error" *ngIf="adminlog.controls['username'].touched && adminlog.controls['username'].errors">*Username is required
                  </span>
                 </div>
                 <div class="form-floating mb-3">
                   <input type="password" class="form-control" id="floatingPassword" formControlName="password">
                   <label for="floatingPassword">Password</label>
                   <span style="color: red;" class="error" *ngIf="adminlog.controls['password'].touched && adminlog.controls['password'].errors">*Password is required
                  </span>
                 </div>
                 <div class="d-grid">
                   <button type="submit" class="btn btn-primary">Login</button>
                 </div>
               </form>
           </div>
         </div>
       </div>
     </div>
 </div>
 <mat-sidenav-container>
   
  <!-- <mat-sidenav-content>
      <div class="content mat-elevation-z8">
          <img style="height: 509px; width: 1220px" src="/assets/Booking.webp">
      </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->