<body class="bg">
  <div class="Head">
    <h1 style="color:rgb(25, 21, 163);">
      <img src="/assets/RailwayS1.jpg" height ="150px" width ="180px" align="right">
      <img src="/assets/RailwayS.jpg" height ="150px" width ="180px" align="left">

            <br>WELCOME TO PAKISTAN<br><br> ONLINE RAILWAY RESERVATION SYSTEM<br>
    </h1>

    <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(12, 37, 160); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
               WELCOME TO PAKISTAN RAILWAYS TRANSPORTATION  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
           </marquee>

    <div class="buttons">

      <ul>
        <li><a class="ahome" routerLink="/home">
            <h2><b>HOME</b></h2>
          </a></li>
        <br>
        <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
        <br>
        <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
        <br>
        <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
        <br>
        <li><a routerLink='/searchtrains'>TRAIN-SCHEDULE</a></li>
      </ul>

      <div class="container" style="margin-left: 200px; margin-top: -608px;">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5" style="font: bolder ;">NEW USER REGISTRATION</h5>
                <form [formGroup]="adminlog" (ngSubmit)="validate()">

                  <!-- <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="form-floating"  formControlName="id">
                    <label for="floatingInput">UserId</label>
                    <span style="color: red;" class="error" *ngIf="adminlog.controls['id'].touched && adminlog.controls['id'].errors"> *Id is required</span>
                    
                  </div> -->

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="username">
                    <label for="floatingInput">Username</label>
                    <span style="color: red;" class="error"
                      *ngIf="adminlog.controls['username'].touched && adminlog.controls['username'].errors"> *Username
                      is required
                    </span>

                    <span style="color:red;" class="error"
                    *ngIf="adminlog.controls['username'].touched && adminlog.controls['username'].errors?.['pattern']">
                  *Username should be capital letters  and atleast contain 4 letters.
                </span>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPass" formControlName="password">
                    <label for="floatingPass">Password</label>
                    <span style="color: red;" class="error"
                      *ngIf="adminlog.controls['password'].touched && adminlog.controls['password'].errors"> *Password
                      is required
                    </span>
                    <span style="color:red;" class="error"
                    *ngIf="adminlog.controls['password'].touched && adminlog.controls['password'].errors?.['pattern']">
                  *Password should be small letters &numbers and atleast contain 6 letters
                </span>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPass" formControlName="Confirmpassword">
                    <label for="floatingPass">Confirm Password</label>
                    <span style="color: red;" class="error" 
                    *ngIf="adminlog.controls['Confirmpassword'].touched && adminlog.controls['Confirmpassword'].errors?.['required']"> 
                    *Confirm Password is required
                   </span>
                   <span style="color:red;" class="error"
                   *ngIf="adminlog.controls['Confirmpassword'].touched && adminlog.controls['Confirmpassword'].errors?.['MustMatch']">
                 *Confirm Password Mismatched
               </span>
                  </div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>