<!DOCTYPE html>
<html>
<app-navbaruser></app-navbaruser>
<body style="background-color: rgb(12, 44, 28); height: 1000px; margin-top: -20px;">
    <div class="container">
      <h2 style="text-align: center; font:bold ; background-color: rgb(21, 55, 83); color: coral; margin-top: 20px;">List of Trains Available</h2>
      <table class="table table-striped" style="background-color: rgb(127, 173, 150);">
          <thead style="color: darkolivegreen; background-color: lightblue;">
              <tr>
                  <th>Train No</th>
                  <th>Train Name</th>
                  <th>Train From</th>
                  <th>Train To</th>
                  <th>Fare</th>
                  <th>Seats Available</th>
                  <th>Time</th> 
                  <th>Actions</th>     
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let train of trains">
            <td>{{train.trainNo}}</td>
            <td>{{train.trainName}}</td>
            <td>{{train.trainFrom}}</td>
            <td>{{train.trainTo}}</td>
            <td>{{train.fare}}</td>
            <td>{{train.seats}}</td>
            <td>{{train.time}}</td>
            <td>
              <button (click)="bookTicket(train.trainNo)" class="btn btn-info">BookTicket</button>
            </tr>
          </tbody>
      </table>
      </div>
    
    </body>
      </html>