
  <app-navbaruser></app-navbaruser>
  <p-card  style="background-color: lightblue;">
        <p-table [value]="bookings" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                  <th>PNR-ID</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>E-mail</th>
                  <th>Train No</th>
                  <th>Train Name</th>
                  <th>Train From</th>
                  <th>Train To</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Fare</th> 
                  <th>Actions</th>     
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bk>
                <tr>
                  <td>{{bk.pnrId}}</td>
                  <td>{{bk.name}}</td>
                  <td>{{bk.phnnumber}}</td>
                  <td>{{bk.email}}</td>
                  <td>{{bk.trainNo}}</td>
                  <td>{{bk.trainName}}</td>
                  <td>{{bk.trainFrom}}</td>
                  <td>{{bk.trainTo}}</td>
                  <td>{{bk.date}}</td>
                  <td>{{bk.time}}</td>
                  <td>{{bk.fare}}</td>
                  <td>
                    <button (click)="cancelTicket(bk.pnrId)" class="btn btn-info">Cancel Ticket</button>
                  </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
