<body class="bg">

   <div class="Head">
       <h1> 
        <img src="/assets/RailwayS1.jpg" height ="150px" width ="180px" align="right">
            <img src="/assets/RailwayS.jpg" height ="150px" width ="180px" align="left">


           <br>WELCOME TO PAKISTAN<br><br> ONLINE RAILWAY RESERVATION SYSTEM<br>
        </h1>
           
       <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(14, 41, 142); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
               WELCOME TO PAKISTAN RAILWAYS TRANSPORTATION  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
           </marquee>
           
       <div class="buttons">
       
       <ul>
           
           <li><a class="ahome" routerLink="/home"><h2><b>HOME</b></h2></a></li>
           <br>
           <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
           <br>
           <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
           <br>
           <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
           <br>
           <li><a routerLink='/searchtrains'>TRAIN-SCHEDULE</a></li>
       </ul>
       
       </div>
       </div>

   
   </body>

